langgraph
langchain-core
langchain-openai
langchain-community
langchain_experimental
pinecone
neo4j
neo4j_graphrag
langchain-neo4j
python-dotenv
office365-rest-python-client
azure-ai-formrecognizer
dotenv
langchain-fireworks
python-fasthtml
langgraph-sdk
starlette
fastapi
langgraph-cli[inmem]
langchain-mcp-adapters
pytest